pip install numpy
pip install pandas
pip install matplotlib
pip install seaborn
pip install plotly
pip install ipwidgets>=7,6
pip install jupyter-dash
pip install owlready2
pip install pyswip
pip install scikit-learn
pip install xgboost